---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import ReleaseGallery from '../components/ReleaseGallery.astro';
---

<Layout title="Artist">
	<main class="m-auto w-full flex justify-center items-center flex-col">
		<Intro />
		<ReleaseGallery />
	</main>
</Layout>
