---
import paint from '/paint.png';
import portrait from '/main-portrait.jpg'
---

<div class="text-white relative mx-12 pt-16 flex flex-col items-center justify-center gap-12 xl:flex-row xl:gap-36 h-full" slot="content">
  <div class="xl:w-1/2">
    <h1 class=text-3xl>
      <span class="font-bold text-xl md:text-4xl upper atmospheric ">
        Inspired by sound vibration<span class="font-bold text-primary">.</span>
      </span>
    </h1>
    <div class="relative mt-12">
      <svg class="absolute h-full w-full overflow-visible">
        <defs>
          <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style={{ stopColor: "#f9ac45ff", stopOpacity: 1 }}
            ></stop>
            <stop offset="100%" style={{ stopColor: "#3b7366", stopOpacity: 1 }}
            ></stop>
          </linearGradient>
        </defs>
        <path
          id="border-path"
          fill="none"
          stroke="url(#gradient)"
          stroke-width="2">
        </path>
      </svg>
      <p id="anim-p" class="text-l md:text-xl sm:p-5 md:p-10 text-main text-white/70">
        Hey there, I'm <span class="font-bold text-primary">CCX</span> a drum and bass music artist proudly representing Buenos Aires, Argentina. <br/> 
        <br/> 
        Rhythm runs through my veins, and I've cultivated a deep love for crafting captivating beats that set dancefloors ablaze.<br/> 
        <br/> 
        Drawing inspiration from the vibrant energy of my city, my tracks blend infectious grooves and mesmerizing melodies, taking listeners on an electrifying sonic journey.  <br/> 
        <br/> As both a skilled producer and a magnetic performer, I'm driven to push the boundaries of drum and bass, aiming to leave a lasting impact on the genre. Keep your eyes and ears open as I continue to make waves and share my passion with the world. Let's ride this musical journey together!
      </p>
    </div>
    <div
      class="flex justify-center pt-20 pb-12 text-center text-main text-content xl:gap-16"
    >
      <h1 class="text-center text-2xl md:text-3xl  block mx-10 font-[aAtmospheric]">

      </h1>
    </div>
  </div>
  <div class="relative">
    <img class="max-h-[500px]" src={portrait} alt="Hua's portrait" />
    <div id="paint" class="absolute bottom-0 right-0 translate-y-1/4">
      <img src={paint} alt="paint" />
    </div>
  </div>
</div>

<div class="mt-12 h-4 w-full bg-red"></div>

<style>
  #border-path {
    animation: draw 1s forwards 1s ease-out;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  @font-face { font-family: aAtmospheric; src: url('/public/fonts/aAtmospheric.ttf'); } 
  .atmospheric {
    font-family: aAtmospheric;
  }

</style>

<script>
  function updatePath() {
    const textMain = document.querySelector("#anim-p") as HTMLElement
    const path = document.querySelector("#border-path") as SVGPathElement
    
    if (textMain && path) {
      path.setAttribute(
        "d",
        `M0,0 V${textMain.offsetHeight} H${textMain.offsetWidth} v${
          textMain.offsetHeight / 2
        }`
      )
    }  
    const pathLength = path.getTotalLength()
    path.style.strokeDasharray = pathLength.toString()
    path.style.strokeDashoffset = pathLength.toString()
  }

  // Update the path when the page loads
  window.addEventListener("DOMContentLoaded", updatePath)
  // Update the path when the window is resized
  window.addEventListener("resize", updatePath)
</script>