---
import ReleaseItem from './ReleaseItem.astro'
import { releases } from '../data/releases'
---
<h1 class="text-white my-24 text-center text-4xl text-sp" style={{ fontFamily: 'aAtmospheric'}}>
  DISCOGRAPHY<span class="font-bold text-primary">.</span>
</h1> 
<ul class="flex flex-row flex-wrap justify-center items-center gap-10 pb-16">
  {
    releases.map((release) => {
      return (
        <li>
          <ReleaseItem release={release}/>
        </li>
      )
    })
  }
</ul>

<style>
  @font-face { font-family: aAtmospheric; src: url('/public/fonts/aAtmospheric.ttf'); } 
  .atmospheric {
    font-family: aAtmospheric;
  }

</style>